.materia {
    margin-top: 120px;
    margin-left: 40px;
}

.nuevasOpciones {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.temasAbiertos {
    margin-top: 20px;
}

.temaActivo {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.detalle {
    width: 50%;
    padding: 5px;;
    box-sizing: border-box;
}

.comentarios {
    width: 30%;
}

.comentarios section {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.avatar img {
    border-radius: 50%;
    width: 35px;
}

.logo {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

.logo img {
    padding: 2px;
    width: 40px;
}

.cantMensajes {
    width: 40%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 30px;
    display: none;
}

.avatar {
    padding: 3%;
    margin-top: 20px;
    padding-left: 20px;
}

.user {
    margin-top: 20px;
}

.user p {
    font-style: italic;
    font-size: 10px;
}

.tema {
    border: 1px solid lightgrey;
    margin-left: 9%;
    margin-right: 9%;
    width: 80%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.titulo {
    font-weight: bold; 
    margin-left: 10%;
    font-size: 20px;
}

.detalle h4 {
    font-weight: bold;
    box-sizing: border-box;
    font-size: 17px;
}

.detalle p {
    box-sizing: border-box;
    font-size: 11px;
}

.nombre {
    display: none;
}

a {
    text-decoration: none;
}

#buscador {
    width: 300px;
    height: 30px;
    border: 1px grey solid;
    border-radius: 10px;
}

.enviar {
    height: 30px;
    border-radius: 10px;
    border: 1px grey solid;
}

@media screen and (min-width:62em){
    .materia {
        display: none;
    }
    
    .nuevasOpciones {
        margin-top: 120px;
    }
    
    .avatar img {
        width: 50px;
    }
    
    .logo img {
        width: 50px;
    }
    
    .cantMensajes {
        display: inline;
    }
    
    .avatar {
        padding-left: 3%;
        margin-top: 10px;
    }
    
    .user {
        margin-top: 10px;
        margin-left: 15px;
    }
    
    .user p {
        font-size: 12px;
    }
    
    .titulo {
        font-size: 30px;
    }
    
    .detalle h4 {
        font-size: 20px;
    }
    
    .detalle p {
        font-size: 13px;
    }
    
    .nombre {
        display: block;
    }    
    
    #buscador {
        width: 800px;
        height: 40px;
    }
    
    .enviar {
        width: 70px;
        height: 40px;
    }
}
