*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif !important;

}

a:hover{
    color: #fff;
}
a{
    color:#fff;
}
.form-control{
    border-radius: 0;
    border:0;
    border-bottom: 1px solid#000;
    color:#000; 
    z-index: 8;
}
.bg-verde{
    background-color: #4cb050;    
}
.bg-lapices{
  
    background-repeat: repeat-x;
}
.text-white{
    color: #fff!;
}


#fondo-lapices{
    height: 250px;
    background-image: url(../img/lapices.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
}

.contenedor-video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

}

.contenedor-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.form{
    display:block;
 
}*/
/*#card-home {
    width: 450px;
    position: relative;
    z-index: 10;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto;
}
.contenedor-login{
    box-sizing: border-box;
    margin:auto;
    position: relative;
}
*/
